<div class="background">
  <button class="btn-home btn-side"(click)='goBack()'>
    <div class="btn-img">⌂</div>
    <div class="btn-txt">Home</div>
  </button>
  <mat-grid-list cols="12" gutterSize="50px" rowHeight="500px">
    <mat-grid-tile [colspan]=2>
      <mat-card class="directories">
        <div *ngFor="let dir of currLevelDirs">
          <button mat-button class="w3-button w3-block w3-black" style="width: 100%!important;" color="primary" (click)="displayDirectory(dir.contents)">{{dir.name |  ellipsis:20 }}&#x2BC8;</button>
          <br/>
        </div>
        <div *ngFor="let file of currLevelFiles">
          <button mat-button class="w3-button w3-block w3-black" style="width: 100%!important;" (click)="openFileInCodeWindow(file.contents)">{{file.name |  ellipsis:20 }}</button>
          <br/>
        </div>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]=10>
      <div class="container_div">
        <div *ngIf="OpenFile.length!==0" class="file_header">
        </div>
        <mat-card class="code-card">
          <mat-card-content>
            <pre><code class="editor" [highlight]="SelectedFile.content"></code></pre>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>