<mat-card>
  <mat-card-content>
    <div id="codebase-page">
      <div id="codebase-title">
        <h1>Code Base</h1>
        <button id="back-icon" mat-fab (click)="back()">
          <mat-icon>arrow_back</mat-icon>
        </button>
      </div>
      <div id="codebase-files">
        <h2>Files:</h2>
      </div>
      <div id="codebase-codeWindow">
        This is a placeholder for the code window.
      </div>
      <div id="codebase-breadcrumbs">
        This/is/a/placeholder/for/breadcru.mbs
      </div>
    </div>
  </mat-card-content>
</mat-card>