@import '../../../../variables';

@mixin flexPosition {
    display:flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
}

mat-card {
    width: 90vw;
    margin: 1% auto;
}

#codebase-page {
    display: grid;
    grid-template:
        'backButton'
        'files'
        'title'
        'breadcrumbs'
        'codeWindow';
    grid-template-columns: 100%;
    grid-gap: 0;
    margin: auto;
    width: 100%;
}

#back-icon {
    height: 56px;
    width:  56px;
}

#codebase-title {
    @include flexPosition();
    grid-area: title;
    h1 {
        font-size: 60px;
    }
    button {
        margin: 10px;
    }
}

#codebase-backButton {
    grid-area: backButton;
}

#codebase-files {
    grid-area: files;
    display: block;
    justify-content: left;
    flex-direction: column;
    padding: $section-padding;
    padding-right: 0;
}

#codebase-breadcrumbs {
    grid-area: breadcrumbs;
    a {
        color: blue;
    }
}

#codebase-codeWindow {
    grid-area: codeWindow;
    max-height: 75vh;
        code {
            max-height: 70vh;
        }
}

::ng-deep .mat-form-field {
    .mat-form-field-underline {
        background-color: rgba($rev-gray-main, 0.5);
    }
}

@media screen and (min-width: $all-projects-breakpoint) {
    #codebase-page {
        grid-template-areas: 
            '. title'
            'files breadcrumbs'
            'files codeWindow';
        grid-template-columns: 20% 80%;
    }
}

// button {
//  height: fit-content;
//  width: fit-content;
//   margin: 5px;
// }